@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Roboto&display=swap');


/*General*/
h1, h2, h3 {
    font-family: 'Baloo 2', cursive;
}

h4, h5, p, li, a, figcaption {
    font-family: 'Roboto', sans-serif;
}


/*Header and nav*/
header {
    background-color: #282f47;
    color: white;
    display: flex;
	align-items: center;
	justify-content: center;
}

.logo-box {
    height: 40px;
    margin: 7px;
    margin-right: 10px;
}

.web-title {
    margin-bottom: 0;
    font-size: 1em;
}

.motto {
    margin-top: 0;
    font-size: 0.65em;
    padding-left: 5px;
}

nav {
    background-color: #9a5c38;
    color: white;
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    margin: 0 auto;
}

.navigation a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #e0995e;
    color: black;
}

.responsive li {
    display: block;
}

.active {
    background-color: #e0995e;
}


/*Gallery*/
h2 {
    text-align: center;
}

.gallery-grid div {
    margin: 15px 0;
    background-color: white;
    box-shadow: 5px 5px 5px #b7b5b3;
}

.gallery-grid img {
    margin: 0 auto;
    width: 100%;
}

.gallery-grid figure {
    margin: 0;
}

figcaption {
    display: none;
}


/*Footer*/
footer {
    background-color: #282f47;
    color: white;
    text-align: center;
    padding: 7px;
    max-height: 50px;
    font-size: .9em;
}

footer p {
    margin: 2px;
    margin-bottom: 5px;
}


/*Media queries*/
@media screen and (min-width: 550px){
    
    
    /*Header and Nav*/
    header {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    
    .logo-box {
        height: 60px;
        margin: 10px;
        margin-right: 10px;
    }
    
    .web-title {
        margin-bottom: 0;
        font-size: 1.5em;
    }
    
    .motto {
        margin-top: 0;
        font-size: 0.9em;
        padding-left: 5px;
    }


    /*Gallery*/
    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 0 20px 20px 20px;
    }

    .gallery-grid div {
        margin: 0;
    }


    /*Footer*/
    footer {
        padding: 15px;
    }

}

@media screen and (min-width: 700px) {

    /*Header and Nav*/
    header {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    
    .logo-box {
        height: 90px;
        margin: 15px;
    }
    
    .web-title {
        margin-bottom: 0;
        font-size: 2.2em;
    }
    
    .motto {
        margin-top: 0;
        font-size: 1em;
        padding-left: 5px;
    }
    
    .navigation li:first-child{
        display: none;
    }

    .navigation li {
        display: flex;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        max-width: 800px;
    }


    /*Gallery*/
    main {
        max-width: 800px;
        margin: 0 auto;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery-grid div:hover {
        box-shadow: 0 0 20px grey;
    }

    figcaption {
        display: block;
        padding: 10px;
    }


    /*Footer*/
    footer {
        max-width: 800px;
        margin: 20px auto 0 auto;
        padding: 15px;
        font-size: 100%;
    }
    
}